html {
  background-color: $kinetic-gray repeat;
}

body {
  background: $kinetic-gray;
  font-family: 'Open Sans', sans-serif;
  font-size: $basefont;
  line-height: $baseline;
}

body,
html {
  height: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Global Elements
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

a {
  @include transition(all 0.3s ease);

  color: $link-color;
  line-height: inherit;
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }

  &:focus {
    outline: 5px auto $kinetic-orange;
  }
}

.container {
  width: $site-width !important;
}

noscript {
  .container .row {
    background-color: $white;
    border-radius: 6px;
    color: $black;
    line-height: 140%;
    margin: 2em 0;
    padding: 1em;
    position: relative;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Wrappers
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.app-wrapper,
#rsg-root {
  @include transition(margin-top 0.1s ease);
  margin: 0 auto;
  // min-width: 980px;
  // max-width: 1300px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Large Montior Window
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
// Reduce page to window on larger monitors

@media all and (min-width: 1301px) {
  body {
    background: lighten($kinetic-gray, 50%);
  }

  .app-wrapper,
  #rsg-root {
    @include box-shadow(0 0 0 2px rgba(0, 0, 0, 0.03));
  }

}

.app-body__main {
  background-color: lighten($kinetic-gray, 10%);
  border-left: 1px solid #ddd;
  background-color: $white;
}

.main__content {
  background-color: $white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Page Header
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-header {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 1px solid #eee;

  h1 {
    font-weight: 700;
  }

  dl {
    margin-bottom: 1rem;
  }
}