/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Navbar & Subnav
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.navbar {
  margin-bottom: 0;
  padding: 0;
  background-color: $kinetic-yellow;
  border: 0;
  border-radius: 0;
}

.logo {
  @include border-radius(4px 0 0 0);

  float: left;
  padding: 0 0 0 1rem;

  a {
    text-decoration: none;

    img {
      float: none !important;
      margin-right: 0 !important;
      padding: 0 18px 0 0;
    }
  }
}

.return-index {
  margin: 0 -15px;
  line-height: 48px;
  background-color: rgba($kinetic-gray, 0.5);

  &:hover {
    background-color: rgba($kinetic-gray, 1);
  }

  a {
    padding: 0 15px;
  }
}

.return-block {
  @include border-radius(0);

  float: left;
  padding: 0 18px;
  line-height: 60px;
  background-color: rgba($white, 0.25);

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: #444;
    background-color: rgba($white, 0.5);
  }

  a {
    text-decoration: none;
  }
}

.space-title {
  display: inline-block;
  margin: 0 0 0 1rem;
  color: $black;
}

.app-header .navbar-nav > .nav-item > .active,
.app-header .navbar-nav > .nav-item > .active:hover,
.app-header .navbar-nav > .nav-item > .active:focus {
  position: relative;
  color: $white;
  background-color: rgba($black, 0.5);
  transition: all 0.29s ease-in-out 0s;
}

.app-header .navbar-nav > .nav-item > .nav-link {
  color: $black;

  &:hover,
  &:focus {
    position: relative;
    color: $white;
    background-color: rgba($black, 0.25);
    transition: all 0.29s ease-in-out 0s;
  }
}

// navbar dropdown menus
.navbar-nav {
  .menu-dropdown,
  .dropdown-menu {
    margin-top: 0;
    background-color: $black;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .dropdown-item {
      color: $gray-light;
      line-height: 1.42857143;
      text-align: left;

      &:hover {
        @include vertical-gradient(#292929, #191919);

        color: $white;
      }
    }

    .active a,
    a.menu,
    .dropdown-toggle {
      color: $white;
    }

    .dropdown-divider {
      background-color: #222;
      border-color: #444;
    }

    .menu.open,
    .dropdown-toggle.open {
      background: rgba($white, 0.05);
    }
  }

  .dropdown-toggle {
    color: $black;
  }
}

// Remove border radius from .nav-link
.nav-pills > .nav-item > .nav-link {
  border-radius: 0;
}

// Navbar Dropdown Toggles
.navbar-nav > .nav-item {
  line-height: 3.75rem;

  > .dropdown-toggle {
    padding: 0 1rem;
    font-size: 0.875rem;
    line-height: inherit;

    > .account {
      display: inline-block;
      margin: 0;
      padding: 0 6px;
      overflow: hidden;
      font-weight: bold;
      line-height: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    > .avatar {
      display: inline-block;

      img {
        border-radius: 30px;
      }
    }
  }
}

// Page tabs or subnavigation
.sub-nav > .nav-item > .nav-link {
  padding: 10px 1em;
  color: $gray-dark;
  border-radius: 0;

  &.active,
  &.active:hover,
  &.active:focus {
    color: $black;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 4px solid $yellow;
  }

  &:hover {
    color: $kinetic-orange;
    background-color: transparent;
    border-bottom: 4px solid $kinetic-orange;
  }
}

// Sidebar navigation
.nav-pills .nav-link {
  &.active,
  &.active:focus {
    background-color: $kinetic-blue;
    border-radius: 0;
  }

  &:hover {
    background-color: #eee;
    border-radius: 0;
  }
}

.content-tabs {
  &__header {
    display: flex;
    justify-content: space-between;

    // Pads the bottom of the sub-nav so that the tab content doesn't touch the sub-nav bar.
    margin-bottom: 2em;
  }
}

.subnav-actions {
  align-self: center;

  .btn {
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}
