.app-body__sidebar,
.main__sidebar {
  position: sticky;
  top: 76px;
  z-index: 1000;
  flex: 0 1 1;
  height: calc(100vh - 4rem);
  -webkit-box-flex: 0;
  background-color: $white;

  .search {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    padding: 1rem 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .toc {
    display: block !important;
    max-height: calc(100vh - 9rem);
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
  }

  .fill {
    width: 100%;
  }
}

.main__sidebar {
  padding-top: 1rem;
  background-color: transparent;

  .sidebar__title {
    margin-top: 1rem;
    color: #808080;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
