table {
  // max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  margin-bottom: 20px;
  width: 100%;

  thead th {
    border-top: none;
  }

  a {
    @include word-break;
    color: $kinetic-orange;

    &.btn {
      color: $white;

      &-group .btn {
        font-size: 10px;
      }
    }
  }

  .form-control {
    height: 2rem;
  }
  // MTR: Turned this off - files missing. Not used?
  // .sorting {
  //   background: url("../images/sort_both.png") no-repeat center right;
  // }
  // .sorting_asc {
  //   background: url("../images/sort_asc.png") no-repeat center right;
  // }
  // .sorting_desc {
  //   background: url("../images/sort_desc.png") no-repeat center right;
  // }
  // .sorting_asc_disabled {
  //   background: url("../images/sort_asc_disabled.png") no-repeat center right;
  // }
  // .sorting_desc_disabled {
  //   background: url("../images/sort_desc_disabled.png") no-repeat center right;
  // }
  td {
    vertical-align: middle;
  }
}

tr.description {
  color: $gray;
}

.table-without-margin {
  margin-bottom: 0;
}

.table.table-grouped {
  > tbody > tr > td {
    border: 0;
  }

  > tbody + tbody {
    border-top-width: 1px;
  }

  > tbody:hover {
    background-color: rgb(245, 245, 245);
  }

  .text-danger {
    color: #d9534f;
  }
}

.table > tbody > tr.active td {
  background-color: #e6e6e6;
}

td .label {
  display: inline-block;
  margin-right: 0.4em;
}

.submission-table {
  word-wrap: break-word;
  table-layout: fixed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Table Callouts
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.table-callout {
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  h4 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  dl {
    margin-bottom: 0;
  }

  code,
  .highlight {
    background-color: $white;
  }

  /* Themes for different contexts */
  &-danger {
    border-color: #dfb5b4;
    background-color: #fcf2f2;
  }

  &-warning {
    border-color: #f1e7bc;
    background-color: #fefbed;
  }

  &-info {
    border-color: #003c73;
    background-color: lighten($kinetic-blue, 60%);
  }
}
