/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *  Variables
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Kinetic Colors
$kinetic-orange: #d95900;
$kinetic-orange-light: #e4701e;
$kinetic-gray: #ede9e8;
$kinetic-blue: #00427e;

// Links
$link-color: #333;
$link-color-hover: $kinetic-orange;

// Grays
$black: #333;
$gray-dark: lighten($black, 25%);
$gray: lighten($black, 50%);
$gray-light: lighten($black, 75%);
$gray-lighter: lighten($black, 90%);
$white: #fff;

// Accent Colors
$blue: $kinetic-blue;
$blue-dark: #00027e;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

// Baseline grid
$basefont: 14px;
$baseline: 21px;

// Griditude
$grid-columns: 12;
$grid-column-width: 60px;
$grid-gutter-width: 20px;
$extra-space: ($grid-gutter-width * 2); // For our grid calculations
$site-width: ($grid-columns * $grid-column-width) +
  ($grid-gutter-width * ($grid-columns - 1));

// Fluid grid
$fluid-grid-column-width: 6.382978723% !default;
$fluid-grid-gutter-width: 2.127659574% !default;

// Color Scheme
// Use this to roll your own color schemes if you like (unused by Bootstrap by default)
$base-color: $blue; // Set a base color
$complement: complement($base-color); // Determine a complementary color
$split1: adjust-hue($base-color, 158); // Split complements
$split2: adjust-hue($base-color, -158);
$triad1: adjust-hue($base-color, 135); // Triads colors
$triad2: adjust-hue($base-color, -135);
$tetra1: adjust-hue($base-color, 90); // Tetra colors
$tetra2: adjust-hue($base-color, -90);
$analog1: adjust-hue($base-color, 22); // Analogs colors
$analog2: adjust-hue($base-color, -22);

//Whole color backgrounds are primarily used.
//Gradient backgrounds in gray vary from:  E8E8E8 to white

// Border Radius
$enable-rounded: true;
