body {
  margin: 0;
  padding: 0;
  font-family: Arial, Sans;
}

/* Header */
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
header.private {
  background-color: lightcoral;
}
header.public {
  background-color: lightblue;
}
header h1 {
  color: white;
  font-size: 1.25rem;
}
header a {
  color: white;
  font-size: 1rem;
  margin-left: 0.5rem;
}
header .buttons {
  margin-left: auto;
}

/* Main */
main {
  padding: 1rem;
}
main a {
  color: steelblue;
}
main h1 {
  margin-top: 0;
}
