// Gradient Background
// -----------
@mixin horizontal-gradient($start-color: $gray-dark, $end-color: $black) {
  background-color: $end-color;
  background-repeat: repeat-x;
  background: linear-gradient(to left, $start-color, $end-color);
}

@mixin vertical-gradient($start-color: $gray-dark, $end-color: $black) {
  background-color: $end-color;
  background-repeat: repeat-x;
  background: linear-gradient(to top, $start-color, $end-color);
}

@mixin directional-gradient(
  $start-color: $gray-dark,
  $end-color: $black,
  $deg: 45deg
) {
  background-color: $end-color;
  background-repeat: repeat-x;
  background: linear-gradient($deg, $start-color, $end-color);
}

@mixin ellipsis-gradient($start-color: $black, $end-color: $yellow) {
  background: linear-gradient(to right, $start-color 0%, $end-color 100%);
}

@mixin vertical-three-colors-gradient(
  $start-color: $blue,
  $mid-color: $purple,
  $color-stop: 50%,
  $end-color: $pink
) {
  background-color: $end-color;
  background-repeat: no-repeat;
  background: linear-gradient($start-color, $mid-color $color-stop, $end-color);
}
