// Color with hover tint built in
// -----------
@mixin set-color-and-hover($base-color) {
  color: $base-color;

  &:hover {
    color: darken($base-color, 5%);
  }
}
// Background color with hover tint built in
// -----------
@mixin set-background-color-and-hover($base-color) {
  background-color: $base-color;

  &:hover {
    background-color: darken($base-color, 2%);
  }
}

// Button color with hover tint built in
// -----------
@mixin set-button-color-and-hover($base-color) {
  background-color: $base-color;
  border-color: $base-color;

  &:hover {
    background-color: darken($base-color, 5%);
    border-color: $base-color;
  }
}
