//Font Size
@mixin font-size($size-value: 1.6) {
  font-size: $size-value + rem;
}

// Font Stacks
@mixin shorthand-font($weight: normal, $size: 14px, $line-height: 20px) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin sans-serif-font($weight: normal, $size: 14px, $line-height: 20px) {
  font-weight: $weight;
  font-size: $size;
  font-family: "Source Sans Pro", sans-serif;
  line-height: $line-height;
}

@mixin serif-font($weight: normal, $size: 14px, $line-height: 20px) {
  font-weight: $weight;
  font-size: $size;
  font-family: "Georgia", Times New Roman, Times, serif;
  line-height: $line-height;
}

@mixin monospace-font($weight: normal, $size: 12px, $line-height: 20px) {
  font-weight: $weight;
  font-size: $size;
  font-family: "Monaco", Courier New, monospace;
  line-height: $line-height;
}
