/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Buttons ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Button transtions
button,
input[type='submit'],
input[type='button'],
.btn {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

// Basic Button
.btn {
  @include border-radius();
  display: inline-block;
  font-family: $font-family-base;
  font-size: 0.75rem;
  font-weight: 400;

  line-height: 1.75rem;
  padding: 0.1875rem 0.75rem;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: none;
  }
  &.disabled,
  &[disabled] {
    opacity: 0.65;
    pointer-events: none;
  }
}

// Primary Button
.btn-primary {
  @extend .btn;
  @include set-button-color-and-hover($primary);
  color: $white;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include set-button-color-and-hover($primary);
  }

  &.disabled,
  &[disabled] {
    background-color: lighten($primary, 5%);
    border-color: lighten($primary, 5%);
  }
}

// Secondary Button
.btn-secondary {
  @extend .btn;
  @include set-button-color-and-hover($secondary);
  color: $white;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include set-button-color-and-hover($secondary);
  }

  &.disabled,
  &[disabled] {
    background-color: lighten($secondary, 5%);
    border-color: lighten($secondary, 5%);
  }
}

// Button Link
.btn-link {
  @extend .btn;
  @include set-button-color-and-hover(transparent);

  color: $link-color;

  &:hover,
  &:focus,
  &:active {
    color: tint($link-color, 10%);
    text-decoration: none;
  }
}

// Button Text
.btn-text {
  @extend .btn;
  @include set-button-color-and-hover(transparent);

  border: 0;
  color: $link-color;
  font: inherit;
  padding: 0;
  vertical-align: baseline;

  &:hover,
  &:focus,
  &:active {
    color: tint($link-color, 10%);
    text-decoration: none;
  }
}

// Button Subtle
.btn-subtle {
  @extend .btn;
  @include set-button-color-and-hover($gray2);
  color: $black;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 1px 2px 0 rgba($black, 0.1);
    color: $link-color;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
// Button Inverse
.btn-inverse {
  background-color: $white;
  border-color: $gray3;
  color: $primary;

  &:hover {
    background-color: $white;
    border-color: $gray2;
    box-shadow: 0 1px 2px 0 rgba($black, 0.1);
    color: $primary;
  }
}

// Buttons with icons
.btn-icon {
  background-color: transparent;
  border: 0;
  color: $gray;

  &:hover {
    color: $primary;
  }

  &.btn-subtle {
    background-color: $blue3;
    color: $blue1;
  }

  &.btn-expand {
    padding-left: 0;
    padding-right: 0;
  }
}

// Button Outline primary
.btn-outline-primary {
  border-color: $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

// Button Secondary primary
.btn-outline-secondary {
  border-color: $secondary;
  color: $secondary;

  &:hover {
    background-color: $secondary;
    border-color: $secondary;
  }
}

// Button groups for Next/Previous
.btn-group {
  .btn-inverse {
    @include set-background-color-and-hover($white);
  }
}

// Button Large
.btn-lg,
.btn-group-lg > .btn {
  border-radius: 0.3rem;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

// Button Small
.btn-sm,
.btn-group-sm > .btn {
  border-radius: 0.2rem;
  font-size: 0.6125rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
}

// Discussion Button
.btn-discussion {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin-bottom: 1.25rem;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
}
//
.input-group-addon:not(:first-child):not(:last-child) {
  border-left: 0;
  border-right: 0;
}

// Kinetic Form Buttons
button[data-element-type='button'] {
  @extend .btn-primary;

  &[data-button-type='submit-page'],
  &[data-button-type='custom'] {
    @extend .btn-primary;
  }

  &[data-button-type='custom'].btn-link {
    @extend .btn-link;
  }

  &[data-button-type='custom'].btn-subtle {
    @extend .btn-subtle;
  }

  &[data-button-type='previous-page'] {
    @extend .btn-secondary;
    float: left;
    padding-left: 2.4rem;
    position: relative;

    &::before {
      content: '\f053';
      font-family: 'FontAwesome';
      font-weight: 400;

      position: absolute;
      top: 50%;
      left: 0.5rem;

      width: 1.4rem;
      height: 1.4rem;

      line-height: 1;
      margin-top: -0.4rem;
    }
  }

  &[data-button-type='save'] {
    @extend .btn-subtle;
    padding-left: 2rem;
    position: relative;

    // Save Icon
    &::before {
      font-family: 'FontAwesome';
      font-weight: 400;
      content: '\f0c7';

      position: absolute;
      top: 50%;
      left: 0.5rem;

      width: 1rem;
      height: 1rem;

      line-height: 1;
      margin-top: -0.4rem;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }
}

.fileinput-button {
  @extend .btn-subtle;
}
