/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Empty States ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.empty-state,
.error-state,
.info-state,
.loading-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__title {
    @include ms-respond(font-size, 2);

    color: $blue-lake;
    font-weight: 600;
    line-height: 1.5rem;
  }

  &__subtitle {
    @include ms-respond(font-size, -1);

    color: $blue-gray;
    line-height: 1.5rem;
  }

  button {
    margin-bottom: 1.5rem;
  }
}

.error-state {
  h4,
  h5 {
    color: $red;
  }

  h6 {
    color: $red-rose;
  }
}
