/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sidebar-layout-wrapper {
  top: $header-height !important;

  .sidebar-container {
    z-index: 4 !important;
  }
}

.main-container {
  display: flex;
  overflow-y: auto !important;

  &--no-sidebar {
    position: absolute;
    top: $header-height;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.package-layout {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  min-height: $page-height;

  &--guest {
    min-height: 100vh;

    .page-container--space-home {
      margin-top: $header-height !important;
    }
  }
}

.page-container {
  &--panels {
    display: flex;
  }
}

.page-panel {
  position: relative;
  width: 100%;
  min-height: $page-height;
  padding: 0 1.5rem;
  background: rgb(255, 255, 255);

  &--sidebar {
    @media (min-width: 0) {
      display: none;
    }
    @media (min-width: 576px) {
      display: flex !important;
    }
  }

  &--transparent {
    background-color: transparent;
  }

  &--auto-height {
    min-height: auto;
  }

  &--scrollable {
    overflow-y: auto;
  }

  // Thirds
  &--two-thirds {
    flex: 1 1 66%;

    &::first-child {
      border-right: 1px solid $black-16;
    }
  }

  &--one-thirds {
    flex: 1 1 33%;
  }

  // 60/40
  &--three-fifths {
    flex: 1 1 60%;
    border-right: 1px solid $black-16;
  }

  &--two-fifths {
    flex: 1 1 40%;
  }
}

.page-content {
  flex: 1 0 100%;
}

.data-list-row {
  display: flex;
  flex-wrap: wrap;

  &__col {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  dl {
    margin-bottom: 0;
    color: $black;
    font-size: 0.875rem;
  }
}

.group-divider {
  @include ms-respond(font-size, -1);

  display: flex;
  align-items: center;
  color: $blue-lake;
  font-weight: bold;
  text-align: center;

  > hr {
    flex: 1 0 auto;
    border: 2px solid $blue3;
  }

  > span {
    margin: 0 0.75rem;

    &::empty {
      display: none;
    }
  }
}
