/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Navigation ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Nav-tabs
.nav-tabs {
  > li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    a {
      padding-right: 1.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1.5rem;
      text-decoration: none;

      &.active {
        border-bottom: 2px solid $orange;
      }
    }
  }

  .badge {
    margin-left: 0.25rem;

    &-primary {
      background-color: $blue;
    }
  }
}

// Return Nav
.nav-return {
  padding: 0.8125rem 1rem;
  font-size: 0.875rem;
  text-decoration: none;
  border-bottom: 1px solid $black-16;

  &:hover {
    text-decoration: none;
  }

  .icon {
    margin-right: 0.5em;
  }

  .sidebar & {
    background-color: $white;
  }
}
