/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Schedulers ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.scheduler-widget-modal {
  .modal-body {
    .body-content {
      height: 100%;
      overflow: hidden;

      .date-slider {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 1px solid $gray4;

        .calendar-box {
          flex-basis: 15%;
          padding: 0.25rem 0;
          color: $primary;
          font-size: 1.5rem;
          line-height: 3.8rem;
          text-align: center;
          border-right: 1px solid $gray4;
          cursor: pointer;
        }

        .date-box {
          flex-basis: 17%;
          padding: 0.25rem 0;
          text-align: center;
          cursor: pointer;
          opacity: 0.5;

          &.selected {
            opacity: 1;
          }

          &.disabled {
            cursor: default;
            opacity: 0;
          }

          .date-month-year {
            font-weight: 500;
            font-size: 0.6rem;
            line-height: 1rem;
          }

          .date-day-number {
            color: $primary;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.8rem;
          }

          .date-day-name {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1rem;
          }
        }
      }

      .date-picker {
        > * {
          margin: auto;
        }
      }

      .time-picker {
        display: block;
        height: calc(100% - 69px);
        padding: 0.675rem;
        overflow: auto;

        @media (min-width: 768px) {
          max-height: 50vh;
        }

        .time-box {
          width: 100%;
          text-align: center;

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
