/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Typography  ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Modular Scale
h1 {
  @include ms-respond(font-size, 6);
  // Mobile
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

h2 {
  @include ms-respond(font-size, 5);
  // Mobile
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.2631578947;
}

h3 {
  @include ms-respond(font-size, 4);
  // Mobile
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.333333333;
}

h4 {
  @include ms-respond(font-size, 3);
  // Mobile
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.333926146;
}

h5 {
  @include ms-respond(font-size, 2);
  // Mobile
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.411764706;
}

h6 {
  @include ms-respond(font-size, 1);
  // Mobile
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1;
}

p {
  @include ms-respond(font-size, 0);

  margin-bottom: 1.5rem;
}

blockquote {
  @include ms-respond(font-size, 2);

  padding-left: 1rem;
  line-height: 24px;
  border-left: 4px solid #54698d;
}

header h1 {
  @include ms-respond(font-size, 12);

  margin-top: 3rem;
  margin-bottom: 0;
  font-weight: 600;
}

/* Let's make sure all's aligned */
// hr,
// .hr {
//   border: 1px solid;
//   margin: -1px 0;
// }
// Misused line-height
// a, b, i, strong, em, code {
//   line-height: 0;
// }
sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
